.chat {
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 150px;
}

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray  ;
}

.chat__headerRight {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.chat__channelName {
    display: flex;
    align-items: center;
    text-transform: lowercase;
}