.message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.message__timestamp {
    color: grey;
    font-weight: 400;
    font-size: 13px;
}

.message__info {
    padding-left: 10px;
}