.sidebar {
    background-color: var(--slack-color);
    border-top: 1px solid rgb(121,86,121);
    max-width: 260px;
    color: white;
    flex: 0.3;
}

.sidebar__header {
    color: white;
    display: flex;
    padding: 13px;
    border-bottom: 1px solid rgb(121,86,121);
    padding-bottom: 13px;
}

.sidebar__header > .MuiSvgIcon-root {
    padding: 8px;
    color: #49274b;
    font-size: 10px;
    background-color: white;
    border-radius: 990px;
}

.sidebar__info {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar__info > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400px;
}

.sidebar__info {
    flex: 1;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}

.sidebar > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(121,86,121);
}
